$x1: -32px;
$x2: -80px;

$y1: -34px;
$dy: -58;

span.glyph {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-image: url("./glyph.png");

  &.HALQA {
    background-position: $x1 $y1 + $dy * 0;
  }
  &.AB {
    background-position: $x1 $y1 + $dy * 1;
  }
  &.AG {
    background-position: $x1 $y1 + $dy * 2;
  }
  &.AD {
    background-position: $x1 $y1 + $dy * 3;
  }
  &.AH {
    background-position: $x1 $y1 + $dy * 4;
  }
  &.USHENNA {
    background-position: $x1 $y1 + $dy * 5;
  }
  &.AZ {
    background-position: $x1 $y1 + $dy * 6;
  }
  &.IT {
    background-position: $x1 $y1 + $dy * 7;
  }
  &.ATT {
    background-position: $x1 $y1 + $dy * 8;
  }
  &.AKSA {
    background-position: $x1 $y1 + $dy * 9;
  }
  &.AK {
    background-position: $x1 $y1 + $dy * 10;
  }
  &.AL {
    background-position: $x1 $y1 + $dy * 11;
  }
  &.AM {
    background-position: $x1 $y1 + $dy * 12;
  }
  &.AN {
    background-position: $x1 $y1 + $dy * 13;
  }
  &.AS {
    background-position: $x1 $y1 + $dy * 14;
  }
  &.IN {
    background-position: $x1 $y1 + $dy * 15;
  }
  &.AP {
    background-position: $x2 $y1 + $dy * 0;
  }
  &.ASZ {
    background-position: $x2 $y1 + $dy * 1;
  }
  &.AQ {
    background-position: $x2 $y1 + $dy * 2;
  }
  &.AR {
    background-position: $x2 $y1 + $dy * 3;
  }
  &.ASH {
    background-position: $x2 $y1 + $dy * 4;
  }
  &.AT {
    background-position: $x2 $y1 + $dy * 5;
  }
  &.DUSHENNA {
    background-position: $x2 $y1 + $dy * 6;
  }
  &.KAD {
    background-position: $x2 $y1 + $dy * 7;
  }
  &.AIN {
    background-position: $x2 $y1 + $dy * 8;
  }
}

/**
* Tooltip style
*/
.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
